name: Generate GitHub Metrics

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false  # necesario para hacer push a otra rama

      - name: Generate classic metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: YovannyRn
          template: classic
          base: header, activity, community, repositories, metadata
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_limit: 10
          plugin_languages_sections: most-used
          plugin_topics: yes
          plugin_topics_mode: mastered
          plugin_topics_sort: stars
          plugin_lines: yes
          config_timezone: Europe/Madrid
          filename: dist/metrics.svg   # lo guardamos en dist igual que Snake

      - name: Push metrics to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
